<h1>{{saludo}}</h1>
<p>Itachi Uchiha (うちは イタチ Uchiha Itachi?) es un personaje ficticio del manga y anime "Naruto" y "Naruto: Shippūden" creados por Masashi Kishimoto.

En el anime y manga, Itachi Uchiha es un ninja renegado considerado un prodigio y portador de numerosas cualidades sobresalientes. Es originario de Konoha de la cual desertó y miembro del Clan Uchiha al cual exterminó.

Itachi es el primer hijo de Fugaku Uchiha y Mikoto Uchiha. Es hermano mayor de Sasuke Uchiha.</p>
